In [25]:
!pip install rasterio

Requirement already satisfied: rasterio in /opt/anaconda3/lib/python3.12/site-packages (1.4.3)
Requirement already satisfied: affine in /opt/anaconda3/lib/python3.12/site-packages (from rasterio) (2.4.0)
Requirement already satisfied: attrs in /opt/anaconda3/lib/python3.12/site-packages (from rasterio) (23.2.0)
Requirement already satisfied: certifi in /opt/anaconda3/lib/python3.12/site-packages (from rasterio) (2025.11.12)
Requirement already satisfied: click>=4.0 in /opt/anaconda3/lib/python3.12/site-packages (from rasterio) (8.1.7)
Requirement already satisfied: cligj>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from rasterio) (0.7.2)
Requirement already satisfied: numpy>=1.24 in /opt/anaconda3/lib/python3.12/site-packages (from rasterio) (1.26.4)
Requirement already satisfied: click-plugins in /opt/anaconda3/lib/python3.12/site-packages (from rasterio) (1.1.1.2)
Requirement already satisfied: pyparsing in /opt/anaconda3/lib/python3.12/site-packages (from rasterio) (3.1.2)

In [26]:
import rasterio

In [32]:
import pandas as pd

file = "Tomato.tif"

with rasterio.open(file) as src:
    band = src.read(1)
    transform = src.transform
    rows, cols = band.shape

coords = []
values = []

for r in range(rows):
    for c in range(cols):
        x, y = transform * (c, r)   # pixel → coordinate
        coords.append((x, y, band[r, c]))

df = pd.DataFrame(coords, columns=["longitude", "latitude", "value"])
df.to_csv("Tomato.csv", index=False)

df.head()

   longitude  latitude  value
0  80.019462  30.65284    127
1  80.030736  30.65284    127
2  80.042010  30.65284    127
3  80.053284  30.65284    127
4  80.064558  30.65284    127

In [33]:
df

        longitude  latitude  value
0       80.019462  30.65284    127
1       80.030736  30.65284    127
2       80.042010  30.65284    127
3       80.053284  30.65284    127
4       80.064558  30.65284    127
...           ...       ...    ...
299644  88.429787  26.16583    127
299645  88.441061  26.16583    127
299646  88.452335  26.16583    127
299647  88.463609  26.16583    127
299648  88.474882  26.16583    127

[299649 rows x 3 columns]

In [34]:
df.max()

longitude     88.474882
latitude      30.652840
value        127.000000
dtype: float64

In [38]:
df.min()

longitude    80.019462
latitude     26.165830
value         1.000000
dtype: float64

In [40]:
df.mean()

longitude    84.247172
latitude     28.409335
value        91.882926
dtype: float64